# fly.toml app configuration file generated for elevate2-backend on 2026-02-16T10:47:18+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'elevate2-backend'
primary_region = 'sin'

[build]
  dockerfile = 'backend/Dockerfile'
  ignorefile = '.gitignore'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
